#keys {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#keyboardHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#textBox {
    border: 2px solid black;
    width: 50vw;
    overflow-wrap:break-word;
    min-height: 20vh;
    margin: 10px;
}